* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Logo {
    height: 20%;
    width: 20%;
}

.Logo-Background {
    background-color: #905AFF;
}

nav ul {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    list-style-type: none;
    padding: 20px;
    color: #905AFF;
}


.hoo {
    background-color: #D2D2D2;
}

section {
    text-align: center;
}


#history {
    align-items: center;
}

#Professores {
    height: 50%;
    align-self: center;
    font-size: 1.5em;
}

/* #RedesSociais {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-size: 1.5em;
    text-align: center;  
}  */

.RedesSociais img{
    height: 10em;
    width: 10em;
}

.RedesSociais {
    display: flex;
    align-items: center; 
}

#Eventos {
    background-image: url(../roletop.html/balada2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 17.0em;
    margin: -3.5em;
    
 }

footer {
    background-color: #D2D2D2 ;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
}


#Quemsomosnós {
    font-size: 1.5em;
}

.food-container > img {
    width: 30%;
    align-items: center;
 }

 .Balada > img {
    width: 30%;
    align-items: center;
 }

 body {
    background-color: #BCB6FF;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    justify-content: space-around;
 }

 hr {
    background-color: black;
 }

 text {
    font-size: 1.5em;
 }

 #Pai {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: row;
     font-size: 1.5em;
 }


 h1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
 }

 main {
    padding: 20px 0px 20px 0px;
 }

 .botaohoo {
    width: 7%;
 }

 #Galeria {
    width: 30%;
 }









