* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Logo {
    height: 20%;
    width: 20%;
}

.Logo-Background {
    background-color: #905AFF;
}

footer {
    background-color: #D2D2D2;
    font-size: 1.5em;
    margin-top: 200px;
}

body {
    background-color: #BCB6FF;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    justify-content: space-around;
}

.section-container {
    margin-top: 200px;
}

#Galeriade {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.Text img {
    filter: grayscale(100%);
}

.Text img:hover {
    filter: grayscale(0%);
    box-shadow: 8.5px 8.5px #D2D2D2;
}