<footer>
    <div class="section-container">
        <address>
            Avenida de Limeira, 539 - Campos Elíseos - SP
            <br />
            Roletop@email.com
            <br />
            11 1234 6789
        </address>
        <ul>
        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-action="Index" asp-controller="Home">Voltar para o Menu!</a></li>
        </ul>
    </div>
</footer>