<footer>
            <div class="section-container">
                <address>
                    Avenida de Limeira, 539 - Campos Elíseos - SP
                    <br />
                    Roletop@email.com
                    <br />
                    11 1234 6789
                </address>
                <a href="#">Voltar para o topo!</a>
            </div>
</footer>