    <main>
        <h2>Login</h2>
<<<<<<< HEAD
        <form method="POST" action='@Url.Action("Login", "Cliente")'>
=======
        <form method="GET" action="dashboard.html">
>>>>>>> 349a488b317a2408f3f05a309f7cf4e02ff6ba23

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" />
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" />
            </div>

            <input type="submit" value="Entrar!" />
        </form>

<<<<<<< HEAD

        <div id = "link-Cadastro">
            <a href='@Url.Action("Index", "Cadastro")' >Quero me Cadastrar</a>
        </div>
=======
>>>>>>> 349a488b317a2408f3f05a309f7cf4e02ff6ba23
    </main>