<!DOCTYPE html>
<html>
<head>
	<title>Meu portifolio</title>
	<style type="text/css">
		.botaohoo{
			width: 50px;
		}
		body{
			background-color: #ADD8E6;
		}
	</style>
</head>
<body>
	<strong>
		<em>
			<h1>Daniel Araujo</h1>
		</em >
	</strong>

	<h2>Sonhos</h2>
	<ul>
		<li>Ser Jogador De Futebol</li>
		<li><img src="neyho.jpg"></li>
		<li>Ser Oficial do Exercito</li>
		<img src="Exercitoho.jpg">
		<li>Ter um bar</li>
		<img src="Barho.jpg">
		<li>Ter uma Pizzaria </li>
		<img src="Pizzariaho.jpg">
	</ul>

	<hr>
	<strong>
	<h3>Minha Historia</h3>
	</strong>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
	

	<hr>

	<h3>Redes sociais</h3>
	<a href="https://www.instagram.com/donz_in/?hl=pt-br"><img class="botaohoo" src="insta.png"></a>
	<a href="https://www.facebook.com/profile.php?id=100027119414076"><img class="botaohoo" src="face.png"></a>


</body>
</html>