<main>
        <h2>Login</h2>
                <form method="POST" action='@Url.Action("Login", "Cliente")'>
            <br>
            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" name="email" />
            </div>
            <br>
            <div> 
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" name="senha" />
            </div>
            <br>
            <input type="submit" value="Entrar!" />
        <br>
        <div id="link-Cadastro">
            <a href='@Url.Action("Index", "Cadastro")' >Quero me Cadastrar  
            </a>
        </div>
        </form>
    </main>