<strong>
                <em>
                    <h1>Galeria de imagens</h1>
                </em>
            </strong>
        <br>
        <section id="Galeriade">
            <br>
            <div class="Text">
                <img src="../img/casamentosalão.jpg" height="400px" width="400px">
                <br>
                <br>
                <strong>
                <p>Casamento Salão</p>
            </strong>
            </div>
            <br>
            <div class="Text">
                <img src="../img/festa organizda.jpg" height="400px" width="400px">
                <br>
                <br>
                <strong>
                    <p>Festa Organizada</p>
                </strong>
            </div>
            <br>
            <div class="Text">
                <img src="../img/baladas roxo.jpg" height="400px" width="400px">
                <br>
                <br>
                <strong>
                    <p> Baladas Roxo</p>
                </strong>
            </div>
            <br>
            <div class="Text">
                <img src="../img/baladas-nova-york.jpg" height="400px" width="400px ">
                <br>
                <br>
                <strong>
                    <p>Baladas Nova</p>
                </strong>
            </div>
            <br>

        </section>
        </section>