<section id="Galeriade">
            <br>
            <div class="Text">
                <img src="casamentosalão.jpg" height="400px" width="400px">
                <br>
                <br>
                <strong>
                <p>Casamento Salão</p>
            </strong>
            </div>
            <br>
            <div class="Text">
                <img src="festa organizda.jpg" height="400px" width="400px">
                <br>
                <br>
                <strong>
                    <p>Festa Organizada</p>
                </strong>
            </div>
            <br>
            <div class="Text">
                <img src="baladas roxo.jpg" height="400px" width="400px">
                <br>
                <br>
                <strong>
                    <p> Baladas Roxo</p>
                </strong>
            </div>
            <br>
            <div class="Text">
                <img src="baladas-nova-york.jpg" height="400px" width="400px ">
                <br>
                <br>
                <strong>
                    <p>Baladas Nova</p>
                </strong>
            </div>
            <br>

        </section>